[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/VST"]
	path = bundle/VST
	url = https://github.com/vim-scripts/VST.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = https://github.com/scrooloose/syntastic.git
